@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(./font/fontello.eot);

.a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: polygon(0 0, 0 0, 0 0);
}


.header{
    background-color: rgba(255, 217, 64, 0.995);
    top: 100%;
    height: 400px;    
}


.logo{
    width: 100px;
    height: 100px; 
}

.menu-bar{
    margin: 0;
    padding-top: 10px;
    list-style: none;
    padding-left: 0;
    font-weight: 500;
    /* 인라인 블록 방식 */
    text-align: right;
    position: relative;
    right: 30px;
}
.menu-bar li{
    margin-top: 5px;
    display: inline-block;
    font-size: 1.2rem;
}
.menu-bar a{
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.profile{
    float: left;
    top: 20%;
    left: 30%;
    background: no-repeat;
    border-radius: 70%;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.profile-cv{
    float: left;
    top: 20%;
    left: 40%;
}


.main{
    background-color: rgb(87, 87, 87);
}
